@import '../../main';

.faqs {
  flex-direction: column;
  align-items: center;
  height: auto !important;

  & > span {
    @include headerStyle($subheading: true);
  }

  .accordion-container {
    width: 100%;
  }
}
