@import '../../main';

.terms-and-conditions {
  padding: 0 4vw;

  & > span {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }

  .sub-head {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
  }

  & > section {
    margin-top: 1rem;

    a {
      text-decoration: underline;
      color: #15c;
    }

    & > div:first-of-type {
      font-weight: 600;
    }

    & > div:last-of-type {
      font-size: 0.9rem;
      font-weight: 300;
    }
  }
}
