@import '../../main';

.custom-button {
  @include buttonStyle;

  &:hover {
    cursor: pointer;
    transform: scale(0.9);
  }

  &.not-available:hover {
    background-color: #e57281;
  }

  &.enroll-button {
    border-radius: 0.5rem;
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
